# mySUNI 모듈 설치

In [ ]:
!pip install mySUNI

# 데이터 다운로드

In [1]:
from mySUNI import cds
cds.list_data() # 데이터 목록 조회

,name,info,filename
0,서울시자전거,서울시 따릉이 자전거 대여량 정보,[seoul_bicycle.csv]
1,서울시대중교통,"서울시 대중교통(지하철, 버스) 이용객 정보",[seoul_transportation.xlsx]
2,서울시주민등록인구,서울시 주민등록인구 정보,[seoul_population.csv]
3,유가정보,2019년 서울시 유가 정보,"[gas_first_2019.csv, gas_second_2019.csv]"
4,PandasFileIO,Pandas File I/O 연습 문제용 데이터셋,"[mySUNI.xlsx, mySUNI_1.csv, mySUNI_2.csv, mySU..."
5,CCTV데이터분석,mySUNI WorkShop - CCTV 데이터 분석,"[01. CCTV_in_Seoul.csv, 01. population_in_Seou..."
6,국민연금데이터분석,mySUNI WorkShop - 국민연금 데이터 분석,[national_pension.csv]
7,민간아파트가격동향분석,mySUNI WorkShop - 민간 아파트 가격 동향 분석,[seoul_house_price.csv]
8,실거래가분석,mySUNI WorkShop - 2020년 아파트 실거래가 분석,"[2020-seoul-apt-price.csv, loc_code.xlsx]"
9,유가가격분석,mySUNI WorkShop - 2020년 유가 가격 분석,"[gas_first_2019.csv, gas_second_2019.csv]"
10,중고차판매정보분석,mySUNI WorkShop - 중고차 판매 정보 분석,"[gas_first_2019.csv, gas_second_2019.csv]"

In [2]:
cds.download_data('민간아파트가격동향분석') # 데이터 다운로드

파일 다운로드 완료
====================

데이터셋: 민간아파트가격동향분석
파일경로: data\seoul_house_price.csv

====================

In [ ]:
import pandas as pd

## 샘플데이터

[민간 아파트 가격동향](https://bit.ly/ds-house-price)

https://www.data.go.kr/ 에서 제공하는 공공데이터를 활용합니다

## 데이터프레임 로드

     지역명               규모구분    연도   월 분양가격(㎡)
0     서울                 전체  2015  10    5841
1     서울         전용면적 60㎡이하  2015  10    5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4     서울        전용면적 102㎡초과  2015  10    5879
...   ..                ...   ...  ..     ...
4500  제주                 전체  2020   2    3955
4501  제주         전용면적 60㎡이하  2020   2    4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2    3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2     NaN
4504  제주        전용면적 102㎡초과  2020   2    3601

[4505 rows x 5 columns]

## 1. column 재정의 (rename)

이전 시간까지는 df.columns 를 통해 전체 column의 이름을 재정의했지만, 

한 개의 column만 이름을 바꾸고 싶을 때는 다음과 같이 실행합니다.

`df = df.rename(columns={'바꿀대상':'바꾸려는_컬럼명'})`

분양가격 column의 이름을 재정의

In [ ]:
# 코드 입력

df

     지역명               규모구분    연도   월  분양가격
0     서울                 전체  2015  10  5841
1     서울         전용면적 60㎡이하  2015  10  5652
2     서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3     서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4     서울        전용면적 102㎡초과  2015  10  5879
...   ..                ...   ...  ..   ...
4500  제주                 전체  2020   2  3955
4501  제주         전용면적 60㎡이하  2020   2  4039
4502  제주   전용면적 60㎡초과 85㎡이하  2020   2  3962
4503  제주  전용면적 85㎡초과 102㎡이하  2020   2   NaN
4504  제주        전용면적 102㎡초과  2020   2  3601

[4505 rows x 5 columns]

## 2. 데이터 Overview

### 2-1. 빈 값과 Data Type 확인하기

In [ ]:
## 코드

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

### 2-2. 통계값 확인

In [ ]:
## 코드

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

## 3. 분양가격 column을 int 타입으로 변환 (실전 전처리)

아래 셀을 실행하면 error가 납니다. error가 나지 않도록 전처리를 해나가 보겠습니다.

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

실제로 이렇게 처리된 데이터들이 많습니다.. 휴우...

### strip()을 활용하여 공백이 있는 데이터 공백없애기

[tip] column의 문자열에 strip을 실행하고자 할 때는 str.strip()를 실행해줘야 합니다

[예시] df['분양가격'].str.strip()

In [ ]:
df.loc[df['분양가격'] == '  ']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [ ]:
## 코드

In [ ]:
df.loc[df['분양가격'] == '']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

### 빈 공백이 있는 데이터는 0을 넣어주도록 하겠습니다.

[tip] loc

In [ ]:
## 코드

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

이번에는 NaN 값이 말썽이네요...ㅠㅠ

### NaN 값은 fillna로 채워 주도록 합시다!

In [ ]:
## 코드

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

세상에나.. ','가 들어간 데이터도 있습니다 ㅠㅠ

In [ ]:
df.loc[df['분양가격'] == '6,657']

2125 행에 ,가 들어간 것이 보이시죠?

### 콤마를 제거해 봅시다

In [ ]:
## 코드

In [ ]:
df.iloc[2125]

지역명       서울
규모구분      전체
연도      2017
월         11
분양가격    6657
Name: 2125, dtype: object

6,657 -> 6657로 변환된 것을 보실 수 있네요!

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

다시 NaN 값이 생겼습니다. 그렇다면 fillna로 다시 처리를 해줘야 합니다.

In [ ]:
## 코드

In [ ]:
df['분양가격'].astype(int)

이번에는 '-' 가 말썽이네요 ㅠㅠㅠ

### - 제거하기

In [ ]:
## 코드

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

다시 NaN 값이 생겼습니다..

### NaN 값은 0으로 채워 줍시다

In [ ]:
## 코드

In [ ]:
df['분양가격'].astype(int)

ValueError: ignored

빈 값이 다시 생겼습니다.

## 빈 값은 0으로 채워주기

In [ ]:
## 코드

In [ ]:
df['분양가격'] = df['분양가격'].astype(int)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

## 규모구분 column에 불필요한 '전용면적' 제거

In [ ]:
## 코드

In [ ]:
df['규모구분'].value_counts()

 60㎡초과 85㎡이하     901
 85㎡초과 102㎡이하    901
전체               901
 60㎡이하           901
 102㎡초과          901
Name: 규모구분, dtype: int64

## 전처리 내용을 복습해 봅시다

제거한 값들을 복습해 봅시다

In [ ]:
df2 = pd.read_csv('seoul_house_price.csv')

In [ ]:
# 콤마가 있는 경우
df2.iloc[2125]

지역명           서울
규모구분          전체
연도          2017
월             11
분양가격(㎡)    6,657
Name: 2125, dtype: object

In [ ]:
# -가 있는 경우
df2.loc[df2['분양가격(㎡)']=='-']

     지역명               규모구분    연도  월 분양가격(㎡)
3683  광주  전용면적 85㎡초과 102㎡이하  2019  5       -
3686  대전         전용면적 60㎡이하  2019  5       -
3688  대전  전용면적 85㎡초과 102㎡이하  2019  5       -
3690  울산                 전체  2019  5       -
3691  울산         전용면적 60㎡이하  2019  5       -
3692  울산   전용면적 60㎡초과 85㎡이하  2019  5       -
3693  울산  전용면적 85㎡초과 102㎡이하  2019  5       -
3694  울산        전용면적 102㎡초과  2019  5       -
3696  세종         전용면적 60㎡이하  2019  5       -

In [ ]:
# 공백이 2개 들어간 경우
df2.loc[df2['분양가격(㎡)']=='  ']

    지역명               규모구분    연도   월 분양가격(㎡)
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

## 분양가격이 잘 바뀌었나요?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

# 분석 (EDA)

## 지역명 별로 평균 분양가격을 확인해 봅시다

In [ ]:
## 코드

지역명
강원    2339.807547
경기    4072.667925
경남    2761.275472
경북    2432.128302
광주    2450.728302
대구    3538.920755
대전    2479.135849
부산    3679.920755
서울    7225.762264
세종    2815.098113
울산    1826.101887
인천    3578.433962
전남    2270.177358
전북    2322.060377
제주    2979.407547
충남    2388.324528
충북    2316.871698
Name: 분양가격, dtype: float64

### 분양가격이 100보다 큰 행만 필터링 한 후 df에 대입

- df에 필터링 후 결과를 반영

In [ ]:
# 코드 입력

결과 값의 갯수가 4185개가 출력 되어야 함

In [ ]:
# 검증
assert df.shape[0] == 4185

### 지역명으로 group을 묶어 분양가격을 확인해 보겠습니다. 

- 평균(mean), 갯수(count) 구하기
- 소수 2번째 자리까지 출력

In [ ]:
## 코드

        mean  count
지역명
강원   2412.64    257
경기   4072.67    265
경남   2814.38    260
경북   2547.49    253
광주   3049.03    213
대구   3663.34    256
대전   3128.43    210
부산   3679.92    265
서울   7225.76    265
세종   2984.00    250
울산   3043.50    159
인천   3633.28    261
전남   2304.97    261
전북   2348.65    262
제주   3432.80    230
충남   2501.60    253
충북   2316.87    265

### 지역별 최고 비싼 분양가 / 제일 저렴한 분양가?

- (힌트) 통계 함수 : `min`, `max`

In [ ]:
## 코드

      min    max
지역명
강원   2012   3906
경기   3079   5670
경남   2200   4303
경북   2106   3457
광주   2251   4881
대구   2503   5158
대전   2425   4877
부산   2930   4623
서울   5061  13835
세종   2572   3931
울산   2422   3594
인천   2890   5188
전남   1906   3053
전북   1900   3052
제주   2225   5462
충남   2099   3201
충북   1868   2855

### 제일 저렴한 분양가 5개 출력 / 제일 비싼 분양가 5개 출력

In [ ]:
## 코드

      min   max
지역명
충북   1868  2855
전북   1900  3052
전남   1906  3053
강원   2012  3906
충남   2099  3201

In [ ]:
## 코드

      min    max
지역명
서울   5061  13835
경기   3079   5670
제주   2225   5462
인천   2890   5188
대구   2503   5158

## 연도별로 분양가격을 확인해 봅시다.

In [ ]:
## 코드

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3853.960526
Name: 분양가격, dtype: float64

## 피벗 테이블을 활용해서 볼까요?

* 행인덱스: 연도
* 열인덱스: 규모구분
* 값: 분양가격

In [ ]:
## 코드

규모구분       102㎡초과        60㎡이하   60㎡초과 85㎡이하   85㎡초과 102㎡이하           전체
연도
2015  2980.977778  2712.583333   2694.490196    2884.395833  2694.862745
2016  3148.099476  2848.144279   2816.965686    3067.380435  2816.073529
2017  3427.649746  3112.538071   2981.950980    3204.075145  3008.279412
2018  3468.355932  3286.184783   3227.458128    3467.184211  3235.098522
2019  4039.854839  3486.910112   3538.545918    3933.538462  3515.974490
2020  4187.566667  3615.968750   3594.852941    4532.090909  3603.911765

## 연도별, 규모별 가격을 알아볼까요?

- `groupby` 활용

In [ ]:
## 코드

                           분양가격
연도   규모구분
2015  102㎡초과        2980.977778
      60㎡이하         2712.583333
      60㎡초과 85㎡이하   2694.490196
      85㎡초과 102㎡이하  2884.395833
     전체             2694.862745
2016  102㎡초과        3148.099476
      60㎡이하         2848.144279
      60㎡초과 85㎡이하   2816.965686
      85㎡초과 102㎡이하  3067.380435
     전체             2816.073529
2017  102㎡초과        3427.649746
      60㎡이하         3112.538071
      60㎡초과 85㎡이하   2981.950980
      85㎡초과 102㎡이하  3204.075145
     전체             3008.279412
2018  102㎡초과        3468.355932
      60㎡이하         3286.184783
      60㎡초과 85㎡이하   3227.458128
      85㎡초과 102㎡이하  3467.184211
     전체             3235.098522
2019  102㎡초과        4039.854839
      60㎡이하         3486.910112
      60㎡초과 85㎡이하   3538.545918
      85㎡초과 102㎡이하  3933.538462
     전체             3515.974490
2020  102㎡초과        4187.566667
      60㎡이하         3615.968750
      60㎡초과 85㎡이하   3594.852941
      85㎡초과 102㎡이하  4532.090909
     전체             3603.911765

- `pivot_table` 활용

In [ ]:
## 코드