# mySUNI 모듈 설치

In [ ]:
!pip install mySUNI

# 데이터 다운로드

In [1]:
from mySUNI import cds
cds.list_data() # 데이터 목록 조회

,name,info,filename
0,서울시자전거,서울시 따릉이 자전거 대여량 정보,[seoul_bicycle.csv]
1,서울시대중교통,"서울시 대중교통(지하철, 버스) 이용객 정보",[seoul_transportation.xlsx]
2,서울시주민등록인구,서울시 주민등록인구 정보,[seoul_population.csv]
3,유가정보,2019년 서울시 유가 정보,"[gas_first_2019.csv, gas_second_2019.csv]"
4,PandasFileIO,Pandas File I/O 연습 문제용 데이터셋,"[mySUNI.xlsx, mySUNI_1.csv, mySUNI_2.csv, mySU..."
5,CCTV데이터분석,mySUNI WorkShop - CCTV 데이터 분석,"[01. CCTV_in_Seoul.csv, 01. population_in_Seou..."
6,국민연금데이터분석,mySUNI WorkShop - 국민연금 데이터 분석,[national_pension.csv]
7,민간아파트가격동향분석,mySUNI WorkShop - 민간 아파트 가격 동향 분석,[seoul_house_price.csv]
8,실거래가분석,mySUNI WorkShop - 2020년 아파트 실거래가 분석,"[2020-seoul-apt-price.csv, loc_code.xlsx]"
9,유가가격분석,mySUNI WorkShop - 2020년 유가 가격 분석,"[gas_first_2019.csv, gas_second_2019.csv]"
10,중고차판매정보분석,mySUNI WorkShop - 중고차 판매 정보 분석,"[gas_first_2019.csv, gas_second_2019.csv]"

In [2]:
cds.download_data('국민연금데이터분석') # 데이터 다운로드

파일 다운로드 완료
====================

데이터셋: 국민연금데이터분석
파일경로: data\national_pension.csv

====================

## 포스트 코로나 시대의 경제 상황을 국민연금 가입자 오픈데이터를 통해 알아보자?!!

- 데이터셋: 공공 데이터 포털
- 형태: 파일데이터 (csv)
- 다운로드: https://www.data.go.kr/data/3046071/fileData.do

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

pd.set_option('display.float_format', lambda x: '%.2f' % x)

%matplotlib inline

## 데이터 (국민연금 데이터)

- 2020년 9월 데이터

In [ ]:
df = pd.read_csv('national_pension.csv')

In [ ]:
df.head()

## 핵심 데이터 column 추출

```
['사업장명', '가입자수', '신규', '상실', '고지금액']
만 추출하여 df_main의 변수에 담아 주세요
```

**[코드]**

In [ ]:
# 코드 입력
df_main = 
df_main.head()

       사업장명    가입자수   신규   상실         고지금액
0      삼성전자  102981  380  423  45766021520
1     현대자동차   68645  936  740  30189521740
2      엘지전자   40385  565  404  17482513180
3  에스케이하이닉스   28314  626  342  12453248240
4       이마트   27413  390  649   6770816160

## 데이터 통계

```
신규, 상실, 가입자수, 고지금액의 평균을 구해 주세요
```

**[코드]**

In [ ]:
# 신규

1.7862934732931341

**[코드]**

In [ ]:
# 상실

1.8762255082634272

**[코드]**

In [ ]:
# 가입자수

56.30243701071813

**[코드]**

In [ ]:
# 고지금액

17037918.953102656

## 월급, 연봉 추정

**국민연금 정보로 어떻게 연봉정보를 계산하나요?**


국민연금 보험률은 9%입니다. 쉽게 이야기 하면 급여(신고소득월액)의 9%를 국민연금으로 내는 것입니다. 

하지만 이를 절반으로 나누어 **4.5%는 회사가, 나머지 절반은 개인이 부담하는 구조**입니다. 회사는 급여 외에 추가로 금액을 부담합니다.

국민연금 보험료는 **소득 상한선과 하한선이 설정되어 있어 소득 전체가 아닌 일부 소득에만 부과**됩니다.

이를 역산하면 신고소득월액의 계산이 가능합니다. 하지만 **상한선과 하한선이 설정되어 있어 실제보다 과소계산**될 수 있습니다

[수식]

- 임직원 평균 월급 = 인당고지금액 / 9% * 100%
- 임직원 평균 연봉 = 임직원 평균 월급 * 12개월

[참고 사이트]
- [크레딧잡](https://kreditjob.com/)

In [ ]:
(df['고지금액'] / df['가입자수']).head()

0   444412.28
1   439792.00
2   432896.20
3   439826.53
4   246992.89
dtype: float64

```
고지금액 / 가입자수 계산된 값을 인당고지금액 컬럼을 만들어 넣어 주세요
```

**[코드]**

In [ ]:
df['인당고지금액'] =

In [ ]:
df['인당고지금액'].head()

0   444412.28
1   439792.00
2   432896.20
3   439826.53
4   246992.89
Name: 인당고지금액, dtype: float64

```
- 평균월급 컬럼을 만들어 주세요
- 평균월급 = 인당고지금액 / 9 * 100
```

**[코드]**

In [ ]:
df['평균월급'] =

```
평균 월급의 평균을 구해주세요
평균 월급이 0원은 제외합니다.
```

**[코드]**

2874794.438830212

```
- 평균연봉 컬럼을 만들어 주세요
- 평균연봉 = 평균월급 * 12
```

**[코드]**

In [ ]:
df['평균연봉'] =

```
평균 연봉의 평균을 구해주세요
평균 연봉이 0원은 제외합니다.
```

**[코드]**

34497533.26596099

## 정렬(Order)

### 연봉

- 상위 10개, 하위 10개 기업을 출력하세요

**[코드]**

                사업장명  가입자수  신규  ...    인당고지금액       평균월급        평균연봉
5242           국회사무처   179   1  ... 452700.00 5030000.00 60360000.00
72074          에스케이씨    19   0  ... 452700.00 5030000.00 60360000.00
105164   비티글로벌서비스코리아    13   0  ... 452700.00 5030000.00 60360000.00
121732           송로텍    12   1  ... 452700.00 5030000.00 60360000.00
131959           젠스엠    11   0  ... 452700.00 5030000.00 60360000.00
46801          쌍용자동차    26   0  ... 452700.00 5030000.00 60360000.00
54110        에이알엠코리아    24   2  ... 452700.00 5030000.00 60360000.00
50233          OCI공통    25   0  ... 452700.00 5030000.00 60360000.00
75485   파이어아이코리아유한회사    18   1  ... 452700.00 5030000.00 60360000.00
107544        라살자산운용    13   0  ... 452700.00 5030000.00 60360000.00

[10 rows x 14 columns]

**[코드]**

                 사업장명  가입자수  신규  ...   인당고지금액      평균월급       평균연봉
93146         밀알희망작업장    15   0  ... 28800.00 320000.00 3840000.00
120729  구립송파구장애인보호작업장    12   0  ... 28800.00 320000.00 3840000.00
114995           상창택시    12   0  ... 28800.00 320000.00 3840000.00
126965           금강운수    11   0  ... 28800.00 320000.00 3840000.00
107932  마포구립장애인직업재활센터    13   0  ... 28827.69 320307.69 3843692.31
94041      사회복지법인빅토리아    15   1  ... 29304.00 325600.00 3907200.00
47934         직지드림플러스    26   0  ... 29570.77 328564.10 3942769.23
95299            진양교통    15   0  ... 30024.00 333600.00 4003200.00
81840           이리농산물    17   0  ... 31438.82 349320.26 4191843.14
50268            삼경택시    25   0  ... 31668.80 351875.56 4222506.67

[10 rows x 14 columns]

### 신규 채용

- 상위 10개, 하위 10개 기업을 출력하세요

**[코드]**

              사업장명   가입자수    신규  ...    인당고지금액       평균월급        평균연봉
34   쿠팡풀필먼트서비스유한회사  10442  4541  ...  49497.68  549974.19  6599690.23
20              쿠팡  14956  2036  ... 279284.27 3103158.52 37237902.29
19   쿠팡풀필먼트서비스유한회사  15376  1851  ... 200850.71 2231674.53 26780094.35
53          케이텍맨파워   7437  1677  ... 217024.61 2411384.55 28936614.58
181           고양시청   2896  1556  ... 119984.16 1333157.31 15997887.66
17        국민건강보험공단  16497  1289  ... 363590.70 4039896.68 48478760.18
541           진주시청   1115  1115  ... 108960.54 1210672.65 14528071.75
1            현대자동차  68645   936  ... 439792.00 4886577.76 58638933.14
40           엘지이노텍   9040   936  ... 385739.12 4285990.27 51431883.19
36            유베이스  10159   788  ... 180813.89 2009043.23 24108518.82

[10 rows x 14 columns]

**[코드]**

             사업장명  가입자수  신규  ...    인당고지금액       평균월급        평균연봉
67828      지로드코리아    20   0  ... 268106.00 2978955.56 35747466.67
84251        도원우드    16   0  ... 150666.25 1674069.44 20088833.33
84250         유타스    16   0  ... 304701.25 3385569.44 40626833.33
84249          우진    16   0  ... 136687.50 1518750.00 18225000.00
84248       동성ENG    16   0  ... 242281.25 2692013.89 32304166.67
84247     루미레즈코리아    16   0  ... 418178.75 4646430.56 55757166.67
84246        석재상사    16   0  ... 297922.50 3310250.00 39723000.00
84244          태담    16   0  ... 187470.00 2083000.00 24996000.00
84243  모든해상특종손해사정    16   0  ... 417926.25 4643625.00 55723500.00
84242      서울프로아트    16   0  ... 315947.50 3510527.78 42126333.33

[10 rows x 14 columns]

### 상실 King!

- 상위 10개, 하위 10개 기업을 출력하세요

**[코드]**

              사업장명   가입자수    신규  ...    인당고지금액       평균월급        평균연봉
34   쿠팡풀필먼트서비스유한회사  10442  4541  ...  49497.68  549974.19  6599690.23
244    매그나칩반도체유한회사   2328     8  ... 417974.11 4644156.74 55729880.87
19   쿠팡풀필먼트서비스유한회사  15376  1851  ... 200850.71 2231674.53 26780094.35
36            유베이스  10159   788  ... 180813.89 2009043.23 24108518.82
20              쿠팡  14956  2036  ... 279284.27 3103158.52 37237902.29
1            현대자동차  68645   936  ... 439792.00 4886577.76 58638933.14
377             교원   1540    17  ... 306081.52 3400905.77 40810869.26
4              이마트  27413   390  ... 246992.89 2744365.47 32932385.66
51      트랜스코스모스코리아   7713   564  ... 181670.30 2018558.94 24222707.29
125           비케이알   4026   709  ...  99253.01 1102811.17 13233734.06

[10 rows x 14 columns]

**[코드]**

         사업장명  가입자수  신규  ...    인당고지금액       평균월급        평균연봉
67828  지로드코리아    20   0  ... 268106.00 2978955.56 35747466.67
83717    바른푸드    16   0  ... 151268.75 1680763.89 20169166.67
83715  협성부품상사    16   0  ... 335431.25 3727013.89 44724166.67
83713    우리기술    16   1  ... 300401.25 3337791.67 40053500.00
83711   선광모터스    16   0  ... 346783.75 3853152.78 46237833.33
83710  서룡초등학교    16   0  ... 212515.00 2361277.78 28335333.33
83707     지오뷰    16   0  ... 295448.75 3282763.89 39393166.67
83706   티오로직스    16   0  ... 220678.75 2451986.11 29423833.33
83705   효신로직스    16   1  ... 239320.00 2659111.11 31909333.33
83703  지에이치유통    16   0  ... 255860.00 2842888.89 34114666.67

[10 rows x 14 columns]

## 순 유입 (신규 - 상실)

- 상위 10개, 하위 10개 기업을 출력하세요

**[코드]**

In [ ]:
df['순유입'] =

**[코드]**

               사업장명   가입자수    신규    상실  ...    인당고지금액       평균월급        평균연봉   순유입
181            고양시청   2896  1556   200  ... 119984.16 1333157.31 15997887.66  1356
53           케이텍맨파워   7437  1677   470  ... 217024.61 2411384.55 28936614.58  1207
20               쿠팡  14956  2036   893  ... 279284.27 3103158.52 37237902.29  1143
17         국민건강보험공단  16497  1289   181  ... 363590.70 4039896.68 48478760.18  1108
541            진주시청   1115  1115   156  ... 108960.54 1210672.65 14528071.75   959
34    쿠팡풀필먼트서비스유한회사  10442  4541  3709  ...  49497.68  549974.19  6599690.23   832
40            엘지이노텍   9040   936   209  ... 385739.12 4285990.27 51431883.19   727
12           한국철도공사  17911   748   120  ... 358622.87 3984698.55 47816382.63   628
1090     중랑구청일자리창출과    649   649    34  ...  81838.71  909318.95 10911827.43   615
636          제니엘시스템    986   633    73  ...  40986.69  455407.71  5464892.49   560

[10 rows x 15 columns]

**[코드]**

             사업장명  가입자수  신규    상실  ...    인당고지금액       평균월급        평균연봉   순유입
244   매그나칩반도체유한회사  2328   8  1454  ... 417974.11 4644156.74 55729880.87 -1446
377            교원  1540  17   703  ... 306081.52 3400905.77 40810869.26  -686
634         연세대학교   987  25   557  ... 145047.36 1611637.28 19339647.42  -532
788         전남대학교   835  12   450  ... 219588.46 2439871.72 29278460.68  -438
369    삼성전자서비스씨에스  1568   3   433  ... 252513.74 2805708.19 33668498.30  -430
1482      티맥스에이앤씨   499   6   385  ... 385519.92 4283554.66 51402655.98  -379
1608         노랑풍선   466   1   379  ... 255943.39 2843815.45 34125785.41  -378
2154    야마토코리아홀딩스   363   0   361  ... 426253.88 4736154.27 56833851.24  -361
1957    충남대학교시간강사   394   0   336  ... 148496.35 1649959.39 19799512.69  -336
178       에프알엘코리아  2948  90   419  ... 208079.36 2311992.84 27743914.07  -329

[10 rows x 15 columns]

## 조건 필터링

```
다음의 조건에 맞는 기업 10개를 출력하세요
- 시군구코드 == 140
- 평균월급 300만원 이상
- 가입자수 내림차순 정렬
```

**[코드]**

         사업장명   가입자수   신규   상실  ...    인당고지금액       평균월급        평균연봉  순유입
16       농협은행  16878  121   88  ... 404919.45 4499104.95 53989259.39   33
21       우리은행  14156  118   96  ... 420994.57 4677717.42 56132609.02   22
22       신한은행  13558  174   48  ... 419696.74 4663297.06 55959564.73  126
24     중소기업은행  12774  331  302  ... 414830.79 4609231.02 55310772.30   29
29       하나은행  12234   97  151  ... 433166.44 4812960.47 57755525.69  -54
49    씨제이제일제당   7792  229  311  ... 350436.35 3893737.19 46724846.34  -82
56  기아자동차광주공장   7079   47   15  ... 450627.00 5006966.71 60083600.51   32
59        에스원   6675   18   37  ... 407057.52 4522861.29 54274335.48  -19
82    에스케이텔레콤   5435   25   31  ... 440830.62 4898118.00 58777416.01   -6
84       롯데쇼핑   5419  136  154  ... 347409.08 3860100.84 46321210.06  -18

[10 rows x 15 columns]

## 중견기업

- **사원수(가입자수) 1000명 이상**인 기업 필터링
- 가입자수 0명 혹은 NaN 제외
- big 변수에 담아주세요

**[코드]**

In [ ]:
people_limit = 1000

In [ ]:
big =

``` 
가입자 순으로 상위 10개 기업을 출력하세요
```

**[코드]**

       사업장명    가입자수   신규   상실  ...    인당고지금액       평균월급        평균연봉  순유입
0      삼성전자  102981  380  423  ... 444412.28 4937914.28 59254971.33  -43
1     현대자동차   68645  936  740  ... 439792.00 4886577.76 58638933.14  196
2      엘지전자   40385  565  404  ... 432896.20 4809957.82 57719493.81  161
3  에스케이하이닉스   28314  626  342  ... 439826.53 4886961.39 58643536.72  284
4       이마트   27413  390  649  ... 246992.89 2744365.47 32932385.66 -259
5   엘지디스플레이   26668   82  141  ... 417646.27 4640514.08 55686168.99  -59
6   삼성디스플레이   23143   79  357  ... 439533.48 4883705.32 58604463.84 -278
7       케이티   22495   44  115  ... 442093.41 4912149.04 58945788.49  -71
8    한국전력공사   22426   19   63  ... 417012.94 4633477.16 55601725.97  -44
9      홈플러스   21199   98  183  ... 228282.39 2536470.94 30437651.34  -85

[10 rows x 15 columns]

```
- 광역시코드가 11인 기업
- ['사업장명','도로명주소','신규'] 컬럼 필터링
- 신규 인력 순서로 내림차순 정렬
- 10개 기업 출력
```

**[코드]**

              사업장명              도로명주소    신규
34   쿠팡풀필먼트서비스유한회사     서울특별시 송파구 송파대로  4541
20              쿠팡     서울특별시 송파구 송파대로  2036
19   쿠팡풀필먼트서비스유한회사     서울특별시 송파구 송파대로  1851
53          케이텍맨파워    서울특별시 서초구 남부순환로  1677
1            현대자동차      서울특별시 서초구 헌릉로   936
40           엘지이노텍  서울특별시 강서구 마곡중앙10로   936
36            유베이스  서울특별시 용산구 한강대로38길   788
99           프로에스콤     서울특별시 강남구 테헤란로   713
125           비케이알      서울특별시 종로구 삼봉로   709
14       스타벅스커피코리아       서울특별시 중구 소공로   684

## 업종별 신규 유입 현황

```
업종별 신규 유입 인력의 평균을 구한 뒤 
상위 10개 업종을 출력하세요
```

**[코드]**

                        신규
업종코드명
음료품배달원              538.00
자동차용 엔진 제조업         117.00
화물 포장  검수 및 계량 서비스업  89.26
도시철도 운송업             66.50
빵류 제조업               62.25
설탕 제조업               42.29
기타 통신 판매업            42.20
담배제품 제조업             37.00
콜센터 및 텔레마케팅 서비스업     34.00
전자 저항기 제조업           27.00