# mySUNI 모듈 설치

In [ ]:
!pip install mySUNI

# 데이터 다운로드

In [1]:
from mySUNI import cds
cds.list_data() # 데이터 목록 조회

,name,info,filename
0,서울시자전거,서울시 따릉이 자전거 대여량 정보,[seoul_bicycle.csv]
1,서울시대중교통,"서울시 대중교통(지하철, 버스) 이용객 정보",[seoul_transportation.xlsx]
2,서울시주민등록인구,서울시 주민등록인구 정보,[seoul_population.csv]
3,유가정보,2019년 서울시 유가 정보,"[gas_first_2019.csv, gas_second_2019.csv]"
4,PandasFileIO,Pandas File I/O 연습 문제용 데이터셋,"[mySUNI.xlsx, mySUNI_1.csv, mySUNI_2.csv, mySU..."
5,CCTV데이터분석,mySUNI WorkShop - CCTV 데이터 분석,"[01. CCTV_in_Seoul.csv, 01. population_in_Seou..."
6,국민연금데이터분석,mySUNI WorkShop - 국민연금 데이터 분석,[national_pension.csv]
7,민간아파트가격동향분석,mySUNI WorkShop - 민간 아파트 가격 동향 분석,[seoul_house_price.csv]
8,실거래가분석,mySUNI WorkShop - 2020년 아파트 실거래가 분석,"[2020-seoul-apt-price.csv, loc_code.xlsx]"
9,유가가격분석,mySUNI WorkShop - 2020년 유가 가격 분석,"[gas_first_2019.csv, gas_second_2019.csv]"
10,중고차판매정보분석,mySUNI WorkShop - 중고차 판매 정보 분석,"[gas_first_2019.csv, gas_second_2019.csv]"

In [2]:
cds.download_data('실거래가분석') # 데이터 다운로드

파일 다운로드 완료
====================

데이터셋: 실거래가분석
파일경로: data\2020-seoul-apt-price.csv

====================
파일 다운로드 완료
====================

데이터셋: 실거래가분석
파일경로: data\loc_code.xlsx

====================

In [1]:
import pandas as pd
import numpy as np

# 1. 법정동 코드 가공

In [2]:
locCode = pd.read_excel('./data/loc_code.xlsx')
locCode.head()

     시도명 시군구명   지역코드
0  서울특별시  종로구  11110
1  서울특별시   중구  11140
2  서울특별시  용산구  11170
3  서울특별시  성동구  11200
4  서울특별시  광진구  11215

In [3]:
# 위 데이터 중 서울특별시에 소속된 데이터만 추출하세요
# 추출은 시도명, 시군구명, 지역코드로 한정하세요
loc = locCode[locCode['시도명']=='서울특별시']
loc

      시도명  시군구명   지역코드
0   서울특별시   종로구  11110
1   서울특별시    중구  11140
2   서울특별시   용산구  11170
3   서울특별시   성동구  11200
4   서울특별시   광진구  11215
5   서울특별시  동대문구  11230
6   서울특별시   중랑구  11260
7   서울특별시   성북구  11290
8   서울특별시   강북구  11305
9   서울특별시   도봉구  11320
10  서울특별시   노원구  11350
11  서울특별시   은평구  11380
12  서울특별시  서대문구  11410
13  서울특별시   마포구  11440
14  서울특별시   양천구  11470
15  서울특별시   강서구  11500
16  서울특별시   구로구  11530
17  서울특별시   금천구  11545
18  서울특별시  영등포구  11560
19  서울특별시   동작구  11590
20  서울특별시   관악구  11620
21  서울특별시   서초구  11650
22  서울특별시   강남구  11680
23  서울특별시   송파구  11710
24  서울특별시   강동구  11740

# 2. 실거래가 데이터 가공

In [4]:
# "2020년 서울시 아파트 실거래가.csv" 데이터 불러오기
# encoding 옵션은 'cp949'로 설정합니다.
apt = pd.read_csv('./data/2020년 서울시 아파트 실거래가.csv', encoding="cp949")
apt.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...             아파트이름    전용면적      지번   지역코드   층
0  2007  2020    1     3   필운동  ...      신동아블루아광화문의 꿈  111.97     254  11110   6
1  2008  2020    1     2   사직동  ...  광화문풍림스페이스본(106동)  163.33     9-1  11110   2
2  1994  2020    1     6   내수동  ...             세종로대우  109.91     167  11110  11
3  2004  2020    1     9   내수동  ...              킹스매너  194.43  110-15  11110   4
4  2003  2020    1    20   내수동  ...         경희궁 파크팰리스  148.09      95  11110   8

[5 rows x 11 columns]

In [5]:
# 실거래가 데이터의 열 Label을 출력하세요
apt.columns

Index(['건축년도', '거래년도', '거래월', '거래일자', '법정동', '거래금액', '아파트이름', '전용면적', '지번',
       '지역코드', '층'],
      dtype='object')

In [6]:
# 데이터의 크기를 조회하세요 (shape)
apt.shape

(80976, 11)

In [7]:
# 각 열 별로 누락 데이터가 있는지 확인하세요
apt.isnull().sum()

건축년도      0
거래년도      0
거래월       0
거래일자      0
법정동       0
거래금액      0
아파트이름     0
전용면적      0
지번       25
지역코드      0
층         0
dtype: int64

In [8]:
# 누락 데이터를 제거하세요.(누락데이터가 하나라도 포함된 행은 삭제)
apt.dropna(inplace=True)

apt.isnull().sum()

건축년도     0
거래년도     0
거래월      0
거래일자     0
법정동      0
거래금액     0
아파트이름    0
전용면적     0
지번       0
지역코드     0
층        0
dtype: int64

In [9]:
# object 타입인 '거래금액' 열을 정수 (int64)로 변경하세요
apt['거래금액'] = apt['거래금액'].str.replace(',','').astype('int64')
apt.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...             아파트이름    전용면적      지번   지역코드   층
0  2007  2020    1     3   필운동  ...      신동아블루아광화문의 꿈  111.97     254  11110   6
1  2008  2020    1     2   사직동  ...  광화문풍림스페이스본(106동)  163.33     9-1  11110   2
2  1994  2020    1     6   내수동  ...             세종로대우  109.91     167  11110  11
3  2004  2020    1     9   내수동  ...              킹스매너  194.43  110-15  11110   4
4  2003  2020    1    20   내수동  ...         경희궁 파크팰리스  148.09      95  11110   8

[5 rows x 11 columns]

In [10]:
# 데이터의 정보를 출력하여 '거래금액' 열의 타입이 변경됐는지 확인하세요
apt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80951 entries, 0 to 80975
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   건축년도    80951 non-null  int64
 1   거래년도    80951 non-null  int64
 2   거래월     80951 non-null  int64
 3   거래일자    80951 non-null  int64
 4   법정동     80951 non-null  object
 5   거래금액    80951 non-null  int64
 6   아파트이름   80951 non-null  object
 7   전용면적    80951 non-null  float64
 8   지번      80951 non-null  object
 9   지역코드    80951 non-null  int64
 10  층       80951 non-null  int64
dtypes: float64(1), int64(7), object(3)
memory usage: 7.4+ MB

In [25]:
# '전용면적' 열을 이용하여 '전용면적(평)' 열을 추가하세요
# 변환 공식: 전용면적/3.306
# '전용면적(평)'의 값은 round 함수를 활용하여 소수점 둘째자리까지만 표기합니다.
# Ex) round( 아파트 전용면적컬럼 데이터, 반올림자리수 )
apt['전용면적(평)'] = round(apt['전용면적'] / 3.306, 2)
apt.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...   지역코드   층  전용면적(평)   반기       평당거래금액
0  2007  2020    1     3   필운동  ...  11110   6    33.87  상반기  2952.465309
1  2008  2020    1     2   사직동  ...  11110   2    49.40  상반기  3279.352227
2  1994  2020    1     6   내수동  ...  11110  11    33.25  상반기  2646.616541
3  2004  2020    1     9   내수동  ...  11110   4    58.81  상반기  2210.508417
4  2003  2020    1    20   내수동  ...  11110   8    44.79  상반기  3326.635410

[5 rows x 14 columns]

In [12]:
# 아래 코드의 <조건> 부분을 완성하여(불리언 인덱싱),
# '거래월'이 7월 전이면 상반기, 
# 7월 이후면 하반기로 설정되는 '반기' 열을 추가하세요
apt.loc[apt['거래월'] <= 6, '반기'] ="상반기"
apt.loc[apt['거래월'] > 6, '반기'] ="하반기"
apt

       건축년도  거래년도  거래월  거래일자   법정동  ...      지번   지역코드   층 전용면적(평)   반기
0      2007  2020    1     3   필운동  ...     254  11110   6   33.87  상반기
1      2008  2020    1     2   사직동  ...     9-1  11110   2   49.40  상반기
2      1994  2020    1     6   내수동  ...     167  11110  11   33.25  상반기
3      2004  2020    1     9   내수동  ...  110-15  11110   4   58.81  상반기
4      2003  2020    1    20   내수동  ...      95  11110   8   44.79  상반기
...     ...   ...  ...   ...   ...  ...     ...    ...  ..     ...  ...
80971  2011  2020   12    21   강일동  ...     717  11740   5   25.66  하반기
80972  2009  2020   12    26   강일동  ...     674  11740   7   25.57  하반기
80973  2009  2020   12    26   강일동  ...     673  11740  10   25.66  하반기
80974  2009  2020   12    31   강일동  ...     673  11740  12   25.63  하반기
80975  2009  2020   12    31   강일동  ...     699  11740   5   25.63  하반기

[80951 rows x 13 columns]

In [13]:
# '전용면적(평)' 열을 이용하여 '평당거래금액' 열을 생성합니다.

apt['평당거래금액'] = apt['거래금액'] / apt['전용면적(평)']
apt.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...   지역코드   층  전용면적(평)   반기       평당거래금액
0  2007  2020    1     3   필운동  ...  11110   6    33.87  상반기  2952.465309
1  2008  2020    1     2   사직동  ...  11110   2    49.40  상반기  3279.352227
2  1994  2020    1     6   내수동  ...  11110  11    33.25  상반기  2646.616541
3  2004  2020    1     9   내수동  ...  11110   4    58.81  상반기  2210.508417
4  2003  2020    1    20   내수동  ...  11110   8    44.79  상반기  3326.635410

[5 rows x 14 columns]

# 3. 데이터 프레임 결합

In [14]:
# '지역코드'를 기준으로 겹치는 지역 코드만 고려하여 법정동 코드 데이터 프레임과 
# 아파트 실거래가 데이터 프레임을 결합합니다.
df = pd.merge(apt, loc, on="지역코드")
df

       건축년도  거래년도  거래월  거래일자   법정동  ...  전용면적(평)   반기       평당거래금액    시도명  시군구명
0      2007  2020    1     3   필운동  ...    33.87  상반기  2952.465309  서울특별시   종로구
1      2008  2020    1     2   사직동  ...    49.40  상반기  3279.352227  서울특별시   종로구
2      1994  2020    1     6   내수동  ...    33.25  상반기  2646.616541  서울특별시   종로구
3      2004  2020    1     9   내수동  ...    58.81  상반기  2210.508417  서울특별시   종로구
4      2003  2020    1    20   내수동  ...    44.79  상반기  3326.635410  서울특별시   종로구
...     ...   ...  ...   ...   ...  ...      ...  ...          ...    ...   ...
80946  2011  2020   12    21   강일동  ...    25.66  하반기  4481.683554  서울특별시   강동구
80947  2009  2020   12    26   강일동  ...    25.57  하반기  4262.807978  서울특별시   강동구
80948  2009  2020   12    26   강일동  ...    25.66  하반기  4169.914263  서울특별시   강동구
80949  2009  2020   12    31   강일동  ...    25.63  하반기  4330.862271  서울특별시   강동구
80950  2009  2020   12    31   강일동  ...    25.63  하반기  4057.744830  서울특별시   강동구

[80951 rows x 16 columns]

In [15]:
# '지역코드' 열은 더이상 필요 없으므로 삭제합니다.
df = df.drop(['지역코드'], axis=1)
df.head()

   건축년도  거래년도  거래월  거래일자   법정동  ...  전용면적(평)   반기       평당거래금액    시도명  시군구명
0  2007  2020    1     3   필운동  ...    33.87  상반기  2952.465309  서울특별시   종로구
1  2008  2020    1     2   사직동  ...    49.40  상반기  3279.352227  서울특별시   종로구
2  1994  2020    1     6   내수동  ...    33.25  상반기  2646.616541  서울특별시   종로구
3  2004  2020    1     9   내수동  ...    58.81  상반기  2210.508417  서울특별시   종로구
4  2003  2020    1    20   내수동  ...    44.79  상반기  3326.635410  서울특별시   종로구

[5 rows x 15 columns]

In [16]:
# 완성된 데이터의 재사용성을 위해 파일로 저장합니다.
# 파일 이름은 '2020년 서울시 아파트 실거래가_merge.csv',
# encoding은 'cp949'
# index는 제외하고 저장하세요.

df.to_csv('./data/2020년 서울시 아파트 실거래가_merge.csv', encoding='cp949', index=False)

# 4. 데이터 분석

In [17]:
# 2020년에 거래된 평당거래금액이 높은 5개의 거래를 출력합니다.
df.sort_values(by='평당거래금액', ascending=False).head(5)

       건축년도  거래년도  거래월  거래일자   법정동  ...  전용면적(평)   반기        평당거래금액    시도명  시군구명
69087  1982  2020    3     4   개포동  ...    17.11  상반기  18088.836937  서울특별시   강남구
68882  1982  2020    2    17   개포동  ...    17.57  상반기  17928.286853  서울특별시   강남구
69097  1982  2020    3    19   개포동  ...    15.24  상반기  17322.834646  서울특별시   강남구
68890  1982  2020    2    20   개포동  ...    15.32  상반기  16971.279373  서울특별시   강남구
69088  1982  2020    3     6   개포동  ...    12.70  상반기  15984.251969  서울특별시   강남구

[5 rows x 15 columns]

In [18]:
# 불리언 인덱싱을 사용해서 2020년 상반기 데이터를 뽑아내고,
# 거래 금액이 높은 5개의 거래를 출력합니다.
df[df['반기'] == '상반기'].sort_values(by='거래금액', ascending=False).head(5)

      건축년도  거래년도  거래월  거래일자   법정동  ...  전용면적(평)   반기        평당거래금액    시도명  시군구명
1981  2011  2020    4    27   한남동  ...    72.69  상반기  10042.646857  서울특별시   용산구
2333  2011  2020    6    10   한남동  ...    72.69  상반기   9217.223827  서울특별시   용산구
1906  2011  2020    2    17   한남동  ...    72.66  상반기   9083.402147  서울특별시   용산구
2351  2011  2020    6    29   한남동  ...    72.69  상반기   9079.653322  서울특별시   용산구
1907  2011  2020    2    18   한남동  ...    72.66  상반기   8876.961189  서울특별시   용산구

[5 rows x 15 columns]

In [20]:
# groupby를 사용하여, 시군구 별 거래 금액의 합계와 평균 금액을 구하고
# 거래 금액의 평균이 높은 순서대로 정렬합니다.
df.groupby(by=['시군구명'])['거래금액'].agg(['sum','mean']).sort_values(by='mean', ascending=False)

            sum           mean
시군구명
강남구   655663087  180523.977698
서초구   550608694  174519.395880
용산구   219369564  150769.459794
송파구   583141519  130369.219539
성동구   331737193  113725.468975
광진구   132848700  106791.559486
마포구   278445244  101252.816000
동작구   275499081   97487.289809
중구     90528205   92187.581466
영등포구  299456715   89657.699102
양천구   298352977   88874.881442
강동구   346750637   83695.543567
종로구    62110771   82924.927904
서대문구  213228968   78624.250737
동대문구  218203716   70776.424262
성북구   285275616   68592.357778
강서구   383205183   67763.958090
은평구   206762892   62466.130514
관악구   159871672   62182.680669
강북구   117543500   55840.142518
구로구   265591417   54536.225257
노원구   454525680   52166.381269
중랑구   139125390   50701.672741
금천구    76984085   47113.883109
도봉구   199920400   45727.447392

In [21]:
# 거래월과 시군구별 거래량(거래 건 수)을 피벗테이블로 표현하세요
df.pivot_table(index='시군구명',columns='거래월',values='거래금액',aggfunc='size')

거래월    1     2    3    4    5     6    7    8    9    10   11   12
시군구명
강남구   131   237  135  145  331   789  365  227  177  215  418  462
강동구   336   392  165  127  317   871  558  314  200  195  328  340
강북구   313   262  161   99  132   371  207   95   78  122  107  158
강서구   425   459  247  188  327  1128  956  413  303  330  456  423
관악구   235   296  178  139  165   503  298  116  116  128  179  218
광진구    63   113   52   40   79   229  194   93   76   72  105  128
구로구   443   574  310  229  356   864  551  257  219  234  463  370
금천구   125   185  176   53   99   228  174   89   67   67  116  255
노원구   815  1154  625  371  621  1722  927  381  308  395  620  774
도봉구   367   563  308  199  280   845  604  200  147  204  301  354
동대문구  287   343  172  121  215   529  387  200  154  162  230  283
동작구   208   278  118   50  148   535  483  217  146  152  215  276
마포구   182   211  112   63  162   491  469  209  164  180  261  246
서대문구  227   271  137   87  186   491  377  180  157  167  200  232
서초구   121   178  116   94  212   545  431  275  199  232  322  430
성동구   206   284  151   76  176   646  386  204  143  142  223  280
성북구   448   521  241  174  258   843  566  245  140  160  263  300
송파구   221   359  146  138  347  1134  560  281  225  229  367  466
양천구   241   313  168  113  249   688  491  198  151  178  245  322
영등포구  307   348  146  122  241   602  420  207  154  206  265  322
용산구   103    80   37   31  125   260  178  108  103  125  141  164
은평구   313   355  203  175  235   548  491  194  150  180  224  242
종로구    65    57   43   27   55   115   97   49   34   76   64   67
중구     84    93   62   35   55   164  140   71   52   71   76   79
중랑구   237   364  207  136  220   469  343  156  103  154  159  196

In [22]:
# 시군구가 강남구인 데이터를 추출하세요
gangnam = df.loc[df['시군구명'] == '강남구', :]

gangnam.head()

       건축년도  거래년도  거래월  거래일자   법정동  ...  전용면적(평)   반기       평당거래금액    시도명  시군구명
68703  2003  2020    1     3   역삼동  ...     7.26  상반기  2782.369146  서울특별시   강남구
68704  2004  2020    1     3   역삼동  ...    30.01  상반기  2565.811396  서울특별시   강남구
68705  1996  2020    1     4   역삼동  ...    12.69  상반기  3112.687155  서울특별시   강남구
68706  1998  2020    1     6   역삼동  ...    18.09  상반기  8225.538972  서울특별시   강남구
68707  2002  2020    1     6   역삼동  ...    10.13  상반기  5528.134255  서울특별시   강남구

[5 rows x 15 columns]

In [23]:
# 강남구의 아파트 단지별 평균 거래 금액을 계산 후 상위 5개를 출력합니다.
gangnam.groupby(by='아파트이름')['거래금액'].agg(['mean']).sort_values('mean', ascending=False).head(5)

                    mean
아파트이름
효성빌라 청담101(A동)  620000.0
상지리츠빌 카일룸       565400.0
청담 어퍼하우스        519500.0
한양8(81동한개동)     491600.0
아펠바움            480000.0

In [24]:
# 피벗 테이블 이용하여 강남구의 거래월과 법정동의 평균거래금액을 계산합니다. (NA는 0으로 치환합니다.)
# 완성된 피벗 테이블 뒤에
# pivot_table( ... ).round(반올림자리수)
# 형태로 소수점 둘째자리까지 출력합니다.
gangnam.pivot_table(index='법정동',columns='거래월',values='거래금액',aggfunc='mean').fillna(0).round(2)

거래월           1          2          3   ...         10         11         12
법정동                                     ...
 개포동   161583.33  181135.39  182202.38  ...  176572.22  202102.94  182220.97
 논현동   125244.44   94079.17   82958.33  ...  123139.90  122465.33  120650.00
 대치동   226214.29  204231.43  229107.69  ...  255983.33  186921.05  241755.50
 도곡동   214590.00  196096.88  153986.96  ...  225534.62  238560.34  214466.15
 삼성동   186000.00  168476.19  186737.50  ...  140814.29  136419.00  132126.11
 세곡동   114200.00  112340.00  114666.67  ...  142250.00  137500.00  136807.69
 수서동   100200.00  101650.00  115416.67  ...  152166.67  133840.29  135176.92
 신사동   106571.43  106750.00  103900.00  ...  261333.33  254500.00  264625.00
 압구정동  290333.33  247100.00  315600.00  ...  320208.33  293886.67  309497.44
 역삼동    82457.50  111055.71  127842.86  ...  130562.69  154048.78  148110.00
 율현동   130000.00       0.00       0.00  ...       0.00       0.00       0.00
 일원동   167666.67  174800.00  155500.00  ...  186423.08  167857.89  201248.28
 자곡동   146000.00  146100.00  156666.67  ...   93380.30   92769.70  103645.74
 청담동   112760.00  178641.67  197311.11  ...  192414.29  202190.91  272846.15

[14 rows x 12 columns]